name: Deployment Workflow
on:
  push:
    branches:
      - main
      - dev
env:
  CACHE_KEY: node-deps
  MONGODB_DB_NAME: gh-demo
jobs:
    test:
        environment: testing
        env:
            MONGODB_CONNECTION_PROTOCOL: mongodb+srv
            MONGODB_CLUSTER_ADDRESS: aditya-mongodb-cluster.eertt6r.mongodb.net
            MONGODB_USERNAME: ${{ secrets.MONGODB_USERNAME }}
            MONGODB_PASSWORD: ${{ secrets.MONGODB_PASSWORD }}
            PORT: 3000
        runs-on: ubuntu-latest
        container:
            image: node:20
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Cache dependencies
              uses: actions/cache@v5
              with:  
                path: ~/.npm
                key: ${{ env.CACHE_KEY }}-${{ hashFiles('**/package-lock.json') }}
            - name: Install dependencies
              run: npm ci
            - name: Run server
              run: npm start & npx wait-on http://127.0.0.1:${PORT}
            - name: Run tests
              run: npm run test
            - name: Output information
              run: | 
                echo "MONGODB_USERNAME: ${{ env.MONGODB_USERNAME }}"
    deploy:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - name: Output information
              run: |
                echo "MONGODB_DB_NAME: $MONGODB_DB_NAME"
                echo "MONGODB_USERNAME: ${{ env.MONGODB_USERNAME }}"
                echo "${{ env.PORT}}"