name: Deployment Workflow
on:
  push:
    branches:
      - main
      - dev
env:
  CACHE_KEY: node-deps
  MONGODB_DB_NAME: gh-demo
jobs:
    test:
        environment: testing
        runs-on: ubuntu-latest
        container:
            image: node:20
        env:
            MONGODB_CONNECTION_PROTOCOL: mongodb
            MONGODB_CLUSTER_ADDRESS: mongodb
            MONGODB_USERNAME: root
            MONGODB_PASSWORD: example
            PORT: 3000            
        services:
          mongodb:
            image: mongo
            ports:
              - 27017:27017
            env:
              MONGO_INITDB_ROOT_USERNAME: root
              MONGO_INITDB_ROOT_PASSWORD: example
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Cache dependencies
              uses: actions/cache@v5
              with:  
                path: ~/.npm
                key: ${{ env.CACHE_KEY }}-${{ hashFiles('**/package-lock.json') }}
            - name: Install dependencies
              run: npm ci
            - name: Run server
              run: npm start & npx wait-on http://127.0.0.1:${PORT}
            - name: Run tests
              run: npm run test
            - name: Output information
              run: | 
                echo "MONGODB_USERNAME: ${{ env.MONGODB_USERNAME }}"
    deploy:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - name: Output information
              run: |
                echo "MONGODB_DB_NAME: $MONGODB_DB_NAME"
                echo "MONGODB_USERNAME: ${{ env.MONGODB_USERNAME }}"
                echo "${{ env.PORT}}"